.custom-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to right, #ff6a00, #ee0979); // gradiente rojo-naranja
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  }
}
