<ion-content fullscreen>
  <!-- fondo con olas -->
  <div class="bg">
    <div class="wave top"></div>
    <div class="wave bottom"></div>
  </div>

  <div class="login-container">
    <h1 class="title">MyAnimalog</h1>

    <div class="hero">
      <img class="dog-img" src="../../../assets/images/login image.png" alt="dog">
    </div>

    <form class="form">
      <div class="pill">
        <input type="text" placeholder="Username" />
      </div>

      <div class="pill">
  <input type="password" placeholder="Password" />
  <button type="button" class="eye" aria-label="toggle password"></button>
</div>


      <a class="forgot" href="#">Forgot password</a>

      <button type="button" class="btn-signup">Sign Up</button>

      <div class="divider"><span>Or Sign With</span></div>

      <div class="socials">
        <img src="../../../assets/images/gmail.png" alt="gm" />
        <img src="../../../assets/images/logo app.png" alt="dog icon" />
      </div>
    </form>
  </div>
</ion-content>
