<ion-content fullscreen>

  <!-- Fondo con olas -->
  <!-- Fondo con olas -->
<div class="bg">
  <div class="blob blob-left"></div>
  <div class="blob blob-right"></div>
</div>




  <!-- Contenedor principal -->
  <div class="recover-container">

    <p class="follow-text">
      Don't forget to follow us on our<br />
      networks
    </p>

    <!-- Gato -->
    <div class="hero">
      <img
        src="../../../assets/images/recover password cat.png"
        alt="Cat"
        class="cat-img"
      />
    </div>

    <!-- Card -->
    <div class="recover-card">

      <h2 class="recover-title">
        Recover your password
      </h2>

      <div class="floating-input">
        <input
          type="email"
          [(ngModel)]="email"
          (focus)="onFocus()"
          (blur)="onBlur()"
        />
        <label [class.active]="isFocused || email">
          Enter your email
        </label>
      </div>

      <a class="go-home-link" (click)="goHome()">Go home</a>

      <button class="btn-submit" (click)="submitReset()">
        Submit
      </button>

    </div>

  </div>
</ion-content>
