ion-content {
  --background: #ffd07d;
  position: relative;
  overflow: hidden;
}

/* CONTENEDOR */
.bg {
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: hidden;
}

/* BASE BLOB */
.blob {
  position: absolute;
  background: #FFB84F;
}

/* BLOB IZQUIERDO */
.blob-left {
  width: 420px;
  height: 520px;
  left: -220px;
  bottom: -120px;
  border-radius: 30% 40% 45% 25%;
  opacity: 0.9;
}

/* BLOB DERECHO */
.blob-right {
  width: 340px;
  height: 330px;
  right: -220px;
  top: -10px;
  border-radius: 35% 35% 40% 70%;
  opacity: 0.8;
}

/* CONTENEDOR */
.recover-container {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
}

/* TEXTO SUPERIOR */
.follow-text {
  font-size: 15px;
  color: #000;
  margin-bottom: 10px;
}

/* GATO */
.hero {
  position: absolute;
  top: 140px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}

.cat-img {
  width: 1000px;
  display: block;
}

/* CARD */
.recover-card {
  background: #fff;
  border-radius: 60px;
  padding: 60px 18px 24px;
  width: 100%;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
  position: relative;
  z-index: 2;
  margin-top: 230px;
}

/* TITLE */
.recover-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 18px;
  color: #000;
}

/* INPUT */
.floating-input {
  position: relative;
  margin-bottom: 18px;
}

.floating-input input {
  width: 100%;
  padding: 16px 20px;
  border-radius: 30px;
  border: 1px solid #e0e0e0;
  background: #f9f9f9;
  outline: none;
  font-size: 14px;
  color: #000;
  
  &::placeholder {
    color: transparent;
  }
}

.floating-input label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 13px;
  color: #aaa;
  transition: all 0.2s ease;
  pointer-events: none;
  background: #f9f9f9;
  padding: 0 5px;
}

.floating-input label.active {
  top: -8px;
  font-size: 11px;
  color: #FFB84F;
}

.floating-input input:focus + label {
  top: -8px;
  font-size: 11px;
  color: #FFB84F;
}

/* LINK */
.go-home-link {
  display: block;
  font-size: 13px;
  margin: 12px 0 20px;
  color: #666;
  cursor: pointer;
  text-decoration: underline;
  
  &:hover {
    color: #FFB84F;
  }
}

/* BOTÓN */
.btn-submit {
  background: #ff0f0f;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 14px;
  width: 75%;
  font-size: 16px;
  font-weight: 600;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease;
  
  &:hover {
    opacity: 0.9;
    transform: scale(1.02);
  }
  
  &:active {
    transform: scale(0.98);
  }
}