<div class="modal-backdrop" (click)="closeModal()"></div>

<div class="modal-content" (click)="$event.stopPropagation()">

  <div class="modal-header">

    <button class="back-btn" (click)="closeModal()">
        <ion-icon name="arrow-back-outline"></ion-icon>
    </button>

    

</div>

  <!-- Título -->
  <h1 class="title">Edit Profile</h1>

  <!-- Avatar -->
  <div class="avatar-container">
    <app-avatar
      [imageUrl]="profileImage"
      [username]="newUsername"
      [editable]="true"
      [showUsername]="false"
      (imageChange)="onImageChange($event)"
      (imageRemove)="onImageRemove()">
    </app-avatar>
  </div>

  <!-- Card -->
  <div class="card">

    <div class="input-container">
      <label>Username</label>

      <input
        type="text"
        [(ngModel)]="newUsername"
        maxlength="20"
        placeholder="Enter username"
        (keyup.enter)="saveUsername()">

    </div>

    <button class="btn-save" (click)="saveUsername()">
      Save
    </button>

  </div>

</div>